<a href="https://colab.research.google.com/github/denverkim/DATA_MINING/blob/main/DM_CLASS_LAB2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# World Food Fact 예제

In [ ]:
# 필요한 라이브러리 가져오기
import pandas as pd

In [ ]:
# 파일 열기
food = pd.read_csv('/content/en.openfoodfacts.org.products.tsv', delimiter='\t')
food.head() # 상위 5개 데이터

<ipython-input-4-045c283197fd>:2: DtypeWarning: Columns (26,28,37,38,39,48) have mixed types. Specify dtype option on import or set low_memory=False.
  food = pd.read_csv('/content/en.openfoodfacts.org.products.tsv', delimiter='\t')

,code,url,creator,created_t,created_datetime,last_modified_t,last_modified_datetime,product_name,generic_name,quantity,...,fruits-vegetables-nuts_100g,fruits-vegetables-nuts-estimate_100g,collagen-meat-protein-ratio_100g,cocoa_100g,chlorophyl_100g,carbon-footprint_100g,nutrition-score-fr_100g,nutrition-score-uk_100g,glycemic-index_100g,water-hardness_100g
0,3087,http://world-en.openfoodfacts.org/product/0000...,openfoodfacts-contributors,1474103866,2016-09-17T09:17:46Z,1474103893,2016-09-17T09:18:13Z,Farine de blé noir,NaN,1kg,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4530,http://world-en.openfoodfacts.org/product/0000...,usda-ndb-import,1489069957,2017-03-09T14:32:37Z,1489069957,2017-03-09T14:32:37Z,Banana Chips Sweetened (Whole),NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,14.0,14.0,NaN,NaN
2,4559,http://world-en.openfoodfacts.org/product/0000...,usda-ndb-import,1489069957,2017-03-09T14:32:37Z,1489069957,2017-03-09T14:32:37Z,Peanuts,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN
3,16087,http://world-en.openfoodfacts.org/product/0000...,usda-ndb-import,1489055731,2017-03-09T10:35:31Z,1489055731,2017-03-09T10:35:31Z,Organic Salted Nut Mix,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,12.0,NaN,NaN
4,16094,http://world-en.openfoodfacts.org/product/0000...,usda-ndb-import,1489055653,2017-03-09T10:34:13Z,1489055653,2017-03-09T10:34:13Z,Organic Polenta,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# 데이터 구조 확인
type(food)

pandas.core.frame.DataFrame

In [ ]:
# 컬럼별 데이터 구조 확인
type(food.code)

pandas.core.series.Series

In [ ]:
# 세계음식 팩트파일을 임포트해서 food 라는 데이터 프레임에 넣으시오.
food = pd.read_csv('/content/en.openfoodfacts.org.products.tsv', sep='\t',
                   nrows=1000)
print('World Food Fact 데이터 요약\n')

# 처음 5줄
print('상위 5개줄')
print(food.head())
print('\n')

# 관측치의 갯수 (행)
print('관측치의 갯수: ', food.shape[0])
print('관측치의 갯수: ', len(food.index))
print('\n')

# 컬럼의 수 (열)
print('컬럼의 갯수: ', food.shape[1])
print('컬럼의 갯수: ', len(food.columns))
print('\n')

# 모든 컬럼의 이름
print('모든 컬럼의 이름\n', food.columns)

World Food Fact 데이터 요약

상위 5개줄
    code                                                url  \
0   3087  http://world-en.openfoodfacts.org/product/0000...
1   4530  http://world-en.openfoodfacts.org/product/0000...
2   4559  http://world-en.openfoodfacts.org/product/0000...
3  16087  http://world-en.openfoodfacts.org/product/0000...
4  16094  http://world-en.openfoodfacts.org/product/0000...

                      creator   created_t      created_datetime  \
0  openfoodfacts-contributors  1474103866  2016-09-17T09:17:46Z
1             usda-ndb-import  1489069957  2017-03-09T14:32:37Z
2             usda-ndb-import  1489069957  2017-03-09T14:32:37Z
3             usda-ndb-import  1489055731  2017-03-09T10:35:31Z
4             usda-ndb-import  1489055653  2017-03-09T10:34:13Z

   last_modified_t last_modified_datetime                    product_name  \
0       1474103893   2016-09-17T09:18:13Z              Farine de blé noir
1       1489069957   2017-03-09T14:32:37Z  Banana Chips Sweetened (Whole)
2       1489069957   2017-03-09T14:32:37Z                         Peanuts
3       1489055731   2017-03-09T10:35:31Z          Organic Salted Nut Mix
4       1489055653   2017-03-09T10:34:13Z                 Organic Polenta

  generic_name quantity  ... fruits-vegetables-nuts_100g  \
0          NaN      1kg  ...                         NaN
1          NaN      NaN  ...                         NaN
2          NaN      NaN  ...                         NaN
3          NaN      NaN  ...                         NaN
4          NaN      NaN  ...                         NaN

  fruits-vegetables-nuts-estimate_100g collagen-meat-protein-ratio_100g  \
0                                  NaN                              NaN
1                                  NaN                              NaN
2                                  NaN                              NaN
3                                  NaN                              NaN
4                                  NaN                              NaN

  cocoa_100g chlorophyl_100g carbon-footprint_100g nutrition-score-fr_100g  \
0        NaN             NaN                   NaN                     NaN
1        NaN             NaN                   NaN                    14.0
2        NaN             NaN                   NaN                     0.0
3        NaN             NaN                   NaN                    12.0
4        NaN             NaN                   NaN                     NaN

  nutrition-score-uk_100g glycemic-index_100g water-hardness_100g
0                     NaN                 NaN                 NaN
1                    14.0                 NaN                 NaN
2                     0.0                 NaN                 NaN
3                    12.0                 NaN                 NaN
4                     NaN                 NaN                 NaN

[5 rows x 163 columns]


관측치의 갯수:  1000
관측치의 갯수:  1000


컬럼의 갯수:  163
컬럼의 갯수:  163


모든 컬럼의 이름
 Index(['code', 'url', 'creator', 'created_t', 'created_datetime',
       'last_modified_t', 'last_modified_datetime', 'product_name',
       'generic_name', 'quantity',
       ...
       'fruits-vegetables-nuts_100g', 'fruits-vegetables-nuts-estimate_100g',
       'collagen-meat-protein-ratio_100g', 'cocoa_100g', 'chlorophyl_100g',
       'carbon-footprint_100g', 'nutrition-score-fr_100g',
       'nutrition-score-uk_100g', 'glycemic-index_100g',
       'water-hardness_100g'],
      dtype='object', length=163)

In [ ]:
# 데이터 타입 확인
food.dtypes

code                         int64
url                         object
creator                     object
created_t                    int64
created_datetime            object
                            ...
carbon-footprint_100g      float64
nutrition-score-fr_100g    float64
nutrition-score-uk_100g    float64
glycemic-index_100g        float64
water-hardness_100g        float64
Length: 163, dtype: object

In [ ]:
# 105번째 컬럼의 이름은?
print('105번째 컬럼의 이름: ', food.columns[104])

# 105번째 컬럼의 데이터 타입
# food.dtypes[104]
print('105번째 컬럼의 데이터 타입: ',food['-glucose_100g'].dtypes)

# 데이터셋은 어떻게 인덱스 되었나요?
print('인덱스: ', food.index)

# 19번째 관측치의 상품 이름은?
print('19번째 관측치의 상품 이름: ', food.product_name[18])

105번째 컬럼의 이름:  -glucose_100g
105번째 컬럼의 데이터 타입:  float64
인덱스:  RangeIndex(start=0, stop=7591, step=1)
19번째 관측치의 상품 이름:  Lotus Organic Brown Jasmine Rice

# Chipotle 예제
# 제출: 28번, 29번

In [ ]:
# 데이터셋을 임포트해서 chipo라고 하시오.
chipo = pd.read_excel('/content/chipotle.xlsx')

# 처음 10줄
chipo.head(10)

# 관측치의 갯수는?
chipo.shape[0]

# 컬럼의 수는?
chipo.shape[1]

# 모든 컬럼의 이름을 출력
chipo.columns

# 데이터셋은 어떻게 인덱스 되었나요?
chipo.index

# 전체 주문 아이템수는? Quantity의 합
chipo.quantity.sum()

# 데이터셋 안에 있는 기간에 대한 수익은 얼마인가요?
(chipo.item_price * chipo.quantity).sum()

39237.02

In [ ]:
# 가장 많이 주문된 아이템은? Item_name에 따라 groupby된 것중 가장 카운트가 많이 된 것을 찾음
chipo.item_name.value_counts().index[0]

# 가장 많이 주문된 아이템은 몇개나 주문됐나요? Groupby된것의 카운트수
chipo.item_name.value_counts()[0]

# choice_description 컬럼에서 가장 많이 주문된 아이템은?
chipo.choice_description.value_counts().index[0]

# choice_description에 따라 groupby된 것중 가장 카운트가 많은 것
chipo.choice_description.value_counts()[0]

# 얼마나 많은 다른 종류의 아이템이 팔렸나요?
chipo.item_name.nunique()

<ipython-input-32-0c1796a00745>:5: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  chipo.item_name.value_counts()[0]
<ipython-input-32-0c1796a00745>:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  chipo.choice_description.value_counts()[0]

50

# Occupation 예제

In [ ]:
# 데이터셋을 임포트해서 users라는 변수에 저장한후 user_id를 인덱스로 사용하시오.
users = pd.read_csv('/content/occupation.txt', sep='|')
users

# 처음 25줄
users.head(25)

# 마지막 10줄
users.tail(10)

# 관측치의 수
users.shape[0]

# 컬럼의 수
users.shape[1]

5

In [ ]:
# 모든 컬럼의 이름
users.columns

# 데이터셋은 어떻게 인덱스 되었나요?
users.index

# 각 컬럼의 데이터타입은?
users.dtypes

# 직업컬럼만 출력
users.occupation

0         technician
1              other
2             writer
3         technician
4              other
           ...
938          student
939    administrator
940          student
941        librarian
942          student
Name: occupation, Length: 943, dtype: object

In [ ]:
# 기술통계를 이용하여 데이터요약
users.describe()

# 모든 컬럼을 요약
users.describe(include='all')

# 직업 컬럼만 요약
users.occupation.describe()

# 모든 사용자의 나이의 평균
users.age.mean()

34.05196182396607

In [ ]:
# 직업의 종류는?
users.occupation.nunique()

# 가장 많은 직업은?
users.occupation.value_counts().head(1)

# 가장 적게 나오는 나이는?
users.age.value_counts().tail()

age
7     1
66    1
11    1
10    1
73    1
Name: count, dtype: int64